@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');

body{
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsl(0, 0%, 86%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  display: flex;
  justify-content: center;
  margin:25vh auto ;
  align-items: center;
  background: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 20px;;
  border-radius: 10px;
}
.ageInput{
  width: 80px;
  height: 40px;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid hsl(0, 1%, 70%);
  outline: none;
  font-size: 20px;
  font-weight: bold;
}

.ageInput:focus{
  border: 1px solid hsl(259, 100%, 65%);
}

.ageInput::placeholder{
  color: hsl(0, 1%, 70%);
}

.Inputs{
  gap: 30px;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.submitButton{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 0;
  align-self: flex-end;
  background-color: hsl(0, 0%, 8%);
  cursor: pointer;
  transition: all 0.3s;
}

.submitButton:hover{
  background-color: hsl(0, 0%, 10%);
}

.submitButton:active{
  background-color:hsl(259, 100%, 65%);
  transform: scale(0.85);
}

.hr{
  display: inline;
  width: 80%;
  background-color: hsl(0, 0%, 0%);
  margin: 10px 0;
  height: 1px;
}

.Button{
  gap: 30PX;
  display: flex;
  justify-items: center;
  align-items: center;
  height: 50px;
}

.solution{
  width: 90%;
}

.solution > h1{
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  margin: 0;
  text-align: left;
  height: 75px;
}

.solution span{
  color: hsl(259, 100%, 65%);
}

@media (max-width: 566px){
  .main{
    margin-top:15vh ;
    width: 70%;
    height: auto;
    padding: 20px;
  }

  .ageInput{
    width: 50px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid hsl(0, 1%, 70%);
    outline: none;
    font-size: 20px;
    font-weight: bold;
  }

  .ageInput::placeholder{
    font-size: 15px;
  }

  .submitButton{
    position: absolute;
    bottom: -8px;
    left:39%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 0;
    align-self: flex-end;
    background-color: hsl(0, 0%, 8%);
    cursor: pointer;
    transition: all 0.3s;
  }

  .submitButton:hover{
    background-color: hsl(0, 0%, 10%);
  }

  .submitButton:active{
    background-color:hsl(259, 100%, 65%);
    transform: scale(0.85);
  }

  .Inputs{
    gap:9%;
  }

  .hr{
    display: inline;
    width: 100%;
    background-color: hsl(0, 0%, 0%);
    margin: 10px 0;
    height: 1px;
  }

  .Button{
    margin-top: 20px;
    position: relative;
    gap: 30PX;
    display: flex;
    justify-items: center;
    align-items: center;
    height: 50px;
  }

  .solution > h1{
    font-size: 37px;
    margin: 0;
    text-align: left;
    height: 75px;
  }

  .solution span{
    color: hsl(259, 100%, 65%);
  }




}
